POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=my_db
FRONTEND_PORT=5173
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${FRONTEND_PORT}/${POSTGRES_DB}?schema=public"
BACKEND_PORT=3000