@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-purple: #A855F7;
    --color-white: #F8FAFC;
    --color-bg-dark: #0B0E14;
    --color-bg-surface: #1D1028;

    --color-overlay-dark: rgba(0, 0, 0, 0.65);
    --color-white-50: rgba(248, 250, 252, 0.5);
    --color-white-25: rgba(248, 250, 252, 0.25);

    --color-surface-60: rgba(29, 16, 40, 0.6);
    --color-surface-20: rgba(29, 16, 40, 0.2);

    --main-bg-image: linear-gradient(rgba(29, 16, 40, 0.4), rgba(29, 16, 40, 0.4)), url('../assets/background_1.png');
}

[data-theme='light'] {
    --color-purple: #60A5FA;
    --color-white: #1E293B;
    --color-bg-dark: #F0F4F8;
    --color-bg-surface: #2F4D7E;

    --color-overlay-dark: rgba(255, 255, 255, 0.8);
    --color-white-50: rgba(30, 41, 59, 0.6);
    --color-white-25: rgba(30, 41, 59, 0.3);

    --color-surface-60: rgba(226, 232, 240, 0.7);
    --color-surface-20: rgba(226, 232, 240, 0.3);

    --main-bg-image: url('../assets/background_2.jpg');
}

body {
    padding: 0;
    margin: 0;
    background-image: var(--main-bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}